@page "/"
@using Microsoft.AspNetCore.Authorization

<PageTitle>Habit Tracker</PageTitle>

<h1>Habit Tracker</h1>

<p>Build better habits, one day at a time.</p>

<AuthorizeView>
    <Authorized>
        <a class="btn btn-primary" href="dashboard">Go to My Dashboard</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-primary" href="Account/Register">Get Started</a>
        <a class="btn btn-secondary" href="Account/Login">Log In</a>
    </NotAuthorized>
</AuthorizeView>
